body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ee302a;
}

header {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP9wTYwDP92pdlTqzAQ8cw3GLax0BRGuce-w&s);
    color: rgba(240, 252, 244, 0.91);
    text-align: center;
    padding: 1em 0;
    justify-items: center;
}

main {
    padding: 2em;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    padding: 1em;
}

.container img {
    width: 50%;
    border-radius: 8px;
    padding-left: 25%;
}

h2 {
    color: #b00c0c;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

ol {
    list-style-type: decimal;
    padding-left: 1.5em;
}

footer {
    background-color: #ffffff;
    color: rgb(238, 20, 20);
    text-align: center;
    padding: 1px;
    position: relative;
    width: 100%;
    bottom: 0;
}
